package ${packagePath}.web;

import ${packagePath}.service.${modelName}Service;
import ${packagePath}.model.${modelName};
import ${packagePath}.model.query.${modelName}Example;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.MediaType;
import org.springframework.web.bind.annotation.*;
import org.springframework.web.servlet.ModelAndView;
import org.springframework.stereotype.Controller;
import com.github.pagehelper.Page;
import com.github.pagehelper.PageHelper;

import java.util.List;

/**
 * Created on ${createdTime}
 */
@Controller
@RequestMapping(value = "/${varModelName}")
public class ${modelName}Controller {

	@Autowired
	private ${modelName}Service ${varModelName}Service;

    @RequestMapping(value = "/list", method = RequestMethod.GET)
    public ModelAndView list(@RequestParam(value = "pageNum", defaultValue = "1") int pageNum,
                             @RequestParam(value = "pageSize", defaultValue = "10") int pageSize) {
        Page<${modelName}> page = PageHelper.startPage(pageNum, pageSize);
        ${varModelName}Service.selectByExample(new ${modelName}Example());
        return  new ModelAndView("${tableName}","page",page);
    }

	@RequestMapping(value = "/{id}", method = RequestMethod.GET)
    @ResponseBody
	public ${modelName} selectByPrimaryKey(@PathVariable("id") ${primaryType} id) {
		return ${varModelName}Service.selectByPrimaryKey(id);
	}

	@RequestMapping(value = "/{id}", method = RequestMethod.DELETE)
    @ResponseBody
	public void deleteByPrimaryKey(@PathVariable("id") ${primaryType} id) {
        ${varModelName}Service.deleteByPrimaryKey(id);
	}

    @RequestMapping(value = "/",method = RequestMethod.POST)
    @ResponseBody
    public void insertSelective(@RequestBody ${modelName} ${varModelName}) {
        ${varModelName}Service.insertSelective(${varModelName});
    }

	@RequestMapping(value = "/",method = RequestMethod.PUT)
    @ResponseBody
	public void updateByPrimaryKeySelective(@RequestBody ${modelName} ${varModelName}) {
        ${varModelName}Service.updateByPrimaryKeySelective(${varModelName});
	}

}