package ${packagePath}

import org.springframework.boot.SpringApplication
import org.springframework.boot.autoconfigure.SpringBootApplication
import org.springframework.data.jpa.repository.config.EnableJpaRepositories
import org.springframework.transaction.annotation.EnableTransactionManagement
import springfox.documentation.swagger2.annotations.EnableSwagger2


@SpringBootApplication
@EnableJpaRepositories
@EnableTransactionManagement
@EnableSwagger2 //see http://localhost:8080/swagger-ui.html
open class ${application} {
    companion object {
        @JvmStatic fun main(args: Array<String>) {
            SpringApplication.run(${application}::class.java, *args)
        }
    }
}